/* Import Fonts */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,300,900|Merriweather+Sans:400,300,700,800);


/* General */

html, body {
  height:100%;
  margin:0;
  padding:0;
}

/* Font styles */

h1 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 20px;
}

h2 {
	font-family: 'Merriweather Sans', sans-serif;;
	font-weight: 900;
	font-size: 18px;
}

h3 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 14px;
}

h4 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 12px;
}

p {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 10px;

}

span {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 12px;
}

.btn {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 10px;
}

/* Link Styles */

a {color: #000; text-decoration: none !important;}

a:visited {color: #000; text-decoration: none !important;}

a:hover {color: #000; text-decoration: none !important;}

a:active {color: #000; text-decoration: none !important;}

/* Color Styles */

		/* Logged-in page */
		.logged-in-page {background-color: #282828;}

		.logged-in-page-main h1 {color: #dadfe1;}

		.logged-in-page-main h2 {color: #ffa500;}

		.mission-panel {background-color: #ecf0f1;}

		span {color: #bdc3c7;}

		.field-btn, .country-btn {background-color: #3d3d3d; color: #dadfe1; border-color: #3d3d3d !important;}

		.read-more-btn {background-color: #ffa500; border-color: #fff; color: #fff;}

		.apply-btn {background-color:#282828; border-color: #fff; color: #fff;}


/* Header */

.logo {
 	width: 200px;
 	heigth: auto;
}

div.page-header.nav {
	margin: 30px 0 0 0;
	border: none;
}

.glyphicon.glyphicon-align-justify {
    font-size: 30px;
    color: #333333;
}

a.dropdown-toggle.pull-right {
	padding: 0;
}


.main-nav-list a.active, .main-nav-list a.active  {
	background-color: #333333;
}


/* Landingpage */


/* Register Form */


/* Log-in Form */


/* Logged-in page */

.newest-missions-header {
	margin: 15px 0;
	padding: 10px 0;
}

.newest-missions-h1, .newest-missions-filter {padding: 0;}

.logged-in-page-main h1 {
	margin: 0;
}

.logged-in-page-main h2 {
	margin-top: 0;
}

.panel {
	border-radius: 10px;
}

.read-more-btn, .apply-btn, .field-btn, .country-btn {
	margin-right: 5px;
	border: solid 2px;
	border-radius: 10px;
}



/* Footer */


/* Media Queries Tablet */


/* Media Queries Desktop */
