/* Import Fonts */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,300,900|Merriweather+Sans:400,300,700,800);


/* General */

html, body {
  height:100%;
  margin:0;
  padding:0;
}

/* Font styles */

body {
  font-family: 'Merriweather', serif;
}

h1 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 16px;
	color: white;


}

h2 {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 900;
	font-size: 18px;
}

h3 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 13px;
}

h4 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 12px;
}

p {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 14px;

}

span {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 12px;
}

.btn {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 10px;
}

/* Link Styles */

a {color: #000; text-decoration: none !important;}

a:visited {color: #000; text-decoration: none !important;}

a:hover {color: #000; text-decoration: none !important;}

a:active {color: #000; text-decoration: none !important;}

/* Color Styles */

		/* Logged-in page */
		.logged-in-page {background-color: #333333;}

		.logged-in-page-main h1 {color: #dadfe1;}

		.logged-in-page-main h2 {color: #f89c44;}

		.mission-panel {background-color: #ecf0f1;}

		span {color: #bdc3c7;}

		.field-btn, .country-btn, .see-all-btn {background-color: #3d3d3d; color: #dadfe1; border-color: #3d3d3d !important;}

		.read-more-btn {background-color: #f89c44; border-color: #fff; color: #fff;}

		.apply-btn {background-color:#333333; border-color: #fff; color: #fff;}


		/* Landing page */

		div.page-header {
			background-color: white;

		}

    /*  Organisations-page   */

    .org-messages li, .org-start {
      background-color: #ecf0f1;
    }

    .edit, #login-button {background-color: #f89c44; border-color: #fff; color: #fff;}

    .delete, #register-button {background-color:#333333; border-color: #fff; color: #fff;}


/* Main header */

.logo {
 	width: 180px;
 	height: auto;
 	padding: 10px;
}

div.page-header {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: white;

}

div.navbar.navbar-default {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: white;


}

button.navbar-toggle {
	border:  none;
	margin-right: 0;
	padding-right: 10px;

}

ul.nav li {
	padding-left: 15px;
}




/* Landingpage */

.newsfeed-form {
	background-color:rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
}

.all-missions-btn {
	background-color:#333333; border: 2px solid #fff; color: #fff;
}



.landing-page{
		background:  #333333;


}

.landing-page h1, .about-page h1 {
			text-align: center;
			line-height: 20px;
			padding: 10px 0 30px 0;
		}





/* Register Form */


/* Log-in Form  and register form */

.login-form, .registration-form {
	max-width: 260px;
	background-color: #333333;
	color: white;
	border: 3px solid white;
	border-radius: 10px;
	padding: 20px;
	margin: 20px auto;
}

.login-form p, .registration-form p {
  font-size: 10px;
}

.register-btn, .sign-in-btn, .confirm-registration-btn {
	background-color: #f89c44; border: 2px solid #fff; color: #fff;
	margin: 10px 0;
}

.confirm-registration-btn {
	margin: 15px 0;
}

/* About-page */

.about-page {
	background: url("../img/barn.jpg");
	background-size: 2000px;
	background-repeat: no-repeat;

}


/* Contact-page */

.contact-page {
	background-color: #333333;

}

.about-text, .contact-text {
	margin-top: 7%;
	margin-bottom: 7%;
	color: #333333;
	background-color: #ecf0f1;
	border-radius: 10px;
	padding: 20px;


}

.about-text p, .contact-text p {
	font-size: 15px;
}


/* Logged-in page */

.newest-missions-header {
	margin: 15px 0;
	padding: 10px 0;
}

.newest-missions-h1, .newest-missions-filter {padding: 0;}

.logged-in-page-main h1 {
	margin: 0;
}

.logged-in-page-main h2 {
	margin-top: 0;
}

.panel {
	border-radius: 10px;
}

.read-more-btn, .apply-btn, .field-btn, .country-btn, .all-missions-btn {
	margin-right: 10px;
	border: solid 2px;
	border-radius: 10px;
}


/*  Chat window  */

#chat-page {
	background-color: #333333;
}


.chat-container{
	max-width: 460px;
	background-color: #333333;
	color: #333333;
	border: 3px solid white;
	border-radius: 10px;
	padding: 20px 20px 40px 20px;
	margin: 30px auto;
}

.chat-container h1{

	margin-left: 5px;
	font-size: 20px;
}



#chat-window {
	background-color: #ecf0f1;
	border-radius: 10px;
	padding: 10px;
	margin: 0 auto;
}


#nameInput {
	padding: 5px 64px 5px 5px;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
}


#messageInput {
	padding: 5px 64px 5px 5px;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
}



.logged-in-main #log-out {
  background-color: #333;
  color: #fff;
  padding: 0.5% 1%;
  border-radius: 50px;
  border: 2px solid #fff;
}


/* Organisation page   */

.org-main {
  margin-top: 70px;
}

#show-messages, #create-message, #log-out {
  margin-bottom: 20px;
  margin-right: 2px;
  border-radius: 0;
  background-color: #ccc;
  padding-left: 8.53%;
  padding-right: 8.53%;
  font-size: 12px;
}

#show-messages:hover, #create-message:hover, #log-out:hover, #send-message:hover {
  background-color: #B0B0B0;
}

#send-message {
  width: 100%;
  font-size: 14px;
  background-color: #ccc;
  color: #333;
  font-weight: normal;
}


@media screen and (max-width: 1200px) {
  #show-messages, #create-message, #log-out {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 10px;
    margin-right: 2px;
  }
}

.org-main label {
  width: 80px;
  font-weight: lighter;
}

.textarea-message label {
  vertical-align: top;
}

.org-main input, .org-main textarea {
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  min-width: 100%;
  padding: 10px;
}

.org-main ul {
  padding: 0;
}

.org-main li {
  list-style-type: none;
}

.org-messages li {
  padding: 20px;
}

.message-sent {
  color: #fff;
}

.edit, .delete, #register-button, #login-button {
  border: solid 2px;
  border-radius: 10px;
}

#register-button, #login-button {
  border-radius: 5px;
}

#register-button:hover, #login-button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

button.delete {
  margin-right: 10px;
}

button.edit {
  margin-right: 5px;
}



/*  Organisation - start page  */

.org-start {
  margin-top: 40px;
  max-width: 650px;
  padding-bottom: 40px;

}

.org-start h2 {
  margin-top: 30px;
  text-align: center;
  color: #333;
}


.org-start input, .org-start button {
  margin-bottom: 10px;
}

.org-start input {
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

#div-register, #div-login {
  margin-top: 40px;
  margin-bottom: 20px;
}

#error-register, #error-login {
  font-size: 12px;
  width: 200px;
  color: red;
}

/* Footer */

footer {
  position:absolute;
  bottom: 0;
 	width:100%;
 	height:70px;
}

footer p {
	color: white;
	text-align: center;
	padding-top: 30px;
	margin-top: 0 auto;
	clear: both;
}


/* Media Queries Tablet */

@media screen and (min-width: 768px) {



/* Landingpage */

	.landing-page {
		background: url("../img/background.jpg"), #333333;
		background-repeat: no-repeat;
		background-size: 2000px;
		background-position: -800px 115px;
	}

	.landing-page h1, .about-page h1{
			text-align: center;
			line-height: 30px;
			padding: 20px 70px 20px 70px;
			font-size: 22px;
			margin: 0 10px 10px 10px;
	}


	.landing-heading {
		background-color: #333333;
		padding: 0px;
	}

	.newsfeed-form {
		background-color:rgba(255,255,255,0.8);
		border-radius: 10px;
		padding: 10px;
		margin: 40px 20px 20px 30px;
	}

	.login-form {
		margin: 40px 20px 20px 20px;
	}

	/* Registration form page */
	.registration-form {
		max-width: 260px;
		background-color: #333333;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		padding: 20px;
		margin: 150px auto;
	}

	/* Main header */

	.logo {
	 	width: 230px;
	 	position: absolute;
	 	top: 5px;
	 	left: 15px;
	}

	 .navbar-nav {
	    width: 70%;
	    text-align: right;
	    margin: 0;
	    padding: 10px 0;
	    > li {
	      float: right;
	      display: inline-block;
	 	}
	}


	 .nav.navbar-nav.navbar-right li a {
	 	font-size: 14px;
	 }

	 footer p {
	 	font-size: 12px;
	 }

	  /* About-page */

	.about-page {
		background: url("../img/barn.jpg");
		background-size: 2000px;
		background-repeat: no-repeat;
}


	}

/* Media Queries Desktop */

@media screen and (min-width: 992px) {

	.landing-page{
			background: url("../img/background.jpg"), #333333;
			background-repeat: no-repeat;
			background-size: 2300px;
			background-position: -550px -20px;
	}


	.newsfeed-form {
		max-width: 500px;
		background-color:rgba(255,255,255,0.8);
		border-radius: 10px;
		padding: 10px;
		margin: 30px 60px;
	}

	.login-form {
		max-width: 260px;
		background-color: #333333;
		color: white;
		border: 3px solid white;
		border-radius: 10px;
		padding: 20px;
		margin: 30px 30px 30px 200px;
	}

	.landing-page h1, .about-page h1 {
			text-align: center;
			line-height: 30px;
			padding: 10px 70px 10px 70px;
			font-size: 25px;
			margin: 10px;
	}

	.landing-heading {
			background-color: #333333;
			padding: 20px;
	}

/* Main header */

	div.container.page-header {
		margin: 0 0 0 0;
	}

	.logo {
	 	width: 400px;
	 	position: absolute;
	 	top: 20px;
	 	left: 35px;

	 	}

	 ul.nav li {
		padding-left: 45px;
	}

	.nav.navbar-nav.navbar-right li a {
	 	font-size: 22px;
	 }

	ul.nav.navbar-nav.navbar-right {
	    width: 1000px;
	    margin: 10px 0px 10px 0px;
	    padding: 30px 10px 30px 200px;
	    font-size: 22px;
	    > li {
	      float: right;
	      display: inline-block;
	      color: #333333;
	 }
	}
}


/* Media Queries large desktop screens */

@media screen and (min-width: 1500px) {

	.landing-page{
			background: url("../img/background.jpg"), #333333;
			background-repeat: no-repeat;
			background-size: 2800px;
			background-position: -550px -300px;
			}


		.about-page {
			background: url("../img/barn.jpg");
			background-size: 2800px;
			background-repeat: no-repeat;
		}
}
